@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*
 ***********************
 * RESET AND NORMALIZE *
 ***********************
*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address,
big, code, del, dfn, em, img, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
main, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  margin: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #000;
  text-decoration: none;
  transition: 0.2s linear;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

figure {
  margin: 0;
}

img {
  border-style: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  border: none;
  background: none;
  cursor: pointer;
  color: #000;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
input:focus {
  border: 0;
  padding: 0;
  outline: none;
}

*:focus {
  outline: none;
}

input::-moz-placeholder {
  color: #51656c;
}

input::placeholder {
  color: #51656c;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

[clear] {
  clear: both;
}

/* Box Model */
*, *:before, *:after {
  box-sizing: border-box;
}

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #51656c;
  margin: 1em 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  color: #000;
  line-height: 1.4;
  overflow-x: hidden;
}
body.lock {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", Tahoma, Arial, sans-serif;
}

h1, h2 {
  margin-bottom: 1.5rem;
  font-size: 2.074rem;
}

h3, h4 {
  margin-bottom: 1rem;
  font-size: 1.728rem;
}

h5, h6 {
  margin-bottom: 1rem;
  font-size: 1.44rem;
}

p {
  font-size: 1rem;
}

img {
  width: 100%;
}

button {
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-size: 1rem;
}

main {
  margin-top: 5rem;
}

main:has(.top-slider) {
  margin-top: 50px;
}

.cont {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.mb-common {
  margin-bottom: 2.5rem;
}

.text-red {
  color: #BB2532;
}

.link {
  border-bottom: 1px solid #000;
}
.link:hover {
  color: #BB2532;
  border-color: #BB2532;
}

.section-head {
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.section-link__bottom {
  justify-content: center;
  margin-top: 0.5rem;
}
.section-link__bottom .link {
  display: inline-flex;
  font-size: 1.2rem;
}

.section-link__top {
  display: none;
  font-size: 1.2rem;
}

.up-btn {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  z-index: 99999;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  transform: rotate(90deg);
  transition: 0.2s linear;
  cursor: pointer;
}
.up-btn:hover {
  background: #f0eeee;
}

.breadcrumbs {
  margin-bottom: 1.5rem;
}
.breadcrumbs li {
  position: relative;
  margin-right: 1rem;
  padding-right: 0.5rem;
}
.breadcrumbs li::after {
  position: absolute;
  right: -0.5rem;
  content: "/";
}
.breadcrumbs li:last-child::after {
  display: none;
}
.breadcrumbs li a {
  border-bottom: 1px solid #000;
}
.breadcrumbs li a:hover {
  color: #51656c;
  border-color: #51656c;
}
.breadcrumbs li span {
  cursor: default;
}

@media (min-width: 768px) {
  .up-btn {
    bottom: 4rem;
  }
}
@media (min-width: 1024px) {
  body {
    line-height: 1.6;
  }
  h1 {
    font-size: 2.986rem;
  }
  h2 {
    font-size: 2.488rem;
  }
  h3 {
    font-size: 2.074rem;
  }
  h4 {
    font-size: 1.728rem;
  }
  h1, h2 {
    margin-bottom: 3rem;
  }
  h3, h4 {
    margin-bottom: 1.5rem;
  }
  main {
    margin-top: 10rem;
  }
  main:has(.top-slider) {
    margin-top: 122px;
  }
  .mb-common {
    margin-bottom: 3rem;
  }
  .hidden {
    display: none;
  }
  .section-head {
    margin-bottom: 1.5rem;
  }
  .section-head h2 {
    margin-bottom: 0;
  }
  .section-link__top {
    display: inline-flex;
  }
  .section-link__bottom {
    display: none;
  }
  .up-btn {
    right: 2rem;
  }
  .up-btn:hover {
    transform: rotate(90deg) scale(1.2);
  }
}
@media (min-width: 1360px) {
  .mb-common {
    margin-bottom: 4rem;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #fff;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(54, 54, 54, 0.2);
}
header.header-hidden {
  transform: translateY(-100%);
  box-shadow: none;
}
header.header-hidden .header__search.active {
  display: none;
}
header .cont {
  padding: 0 0.625rem;
}
header .header__inner {
  align-items: center;
  justify-content: space-between;
}
header .header__inner .header__logo {
  display: flex;
  align-items: center;
  width: 140px;
}
header .header__inner .header__search {
  position: relative;
  display: none;
  width: 100%;
  max-width: 360px;
  height: 40px;
}
header .header__inner .header__search form {
  width: 100%;
}
header .header__inner .header__search input[type=text] {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 2rem;
  border: 1px solid #000;
  border-radius: 15px;
}
header .header__inner .header__search button {
  position: absolute;
  right: 1rem;
  top: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/ic-search.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s linear;
}
header .header__inner .header__search button:hover {
  transform: scale(1.2);
}
header .header__inner .header__search.active {
  position: absolute;
  top: 60px;
  right: 0.5rem;
  display: flex;
  width: 90%;
}

.header__buttons {
  align-items: center;
}
.header__buttons .header-btn {
  position: relative;
  display: inline-flex;
  width: 25px;
  margin: 0 0.35rem;
}
.header__buttons .header-btn span {
  display: none;
}
.header__buttons .btn-search {
  width: 20px;
}
.header__buttons .btn-login {
  width: 28px;
}
.header__buttons .btn-cart .cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  background: #BB2532;
  border-radius: 50%;
  font-size: 0.75rem;
  color: #fff;
}

@media (min-width: 360px) {
  .header__buttons .header-btn {
    margin: 0 0.5rem;
  }
}
@media (min-width: 420px) {
  header .header__inner .header__logo {
    width: 170px;
  }
}
@media (min-width: 1024px) {
  header {
    height: 120px;
  }
  header .header__inner .header__logo {
    width: 240px;
  }
  header .header__inner .header__search {
    display: inline-flex;
  }
  .header__buttons .btn-search {
    display: none;
  }
  .header__buttons .header-btn {
    width: auto;
    margin: 0 1rem;
    align-items: center;
  }
  .header__buttons .header-btn img {
    width: 28px;
    transition: 0.2s linear;
  }
  .header__buttons .header-btn span {
    display: inline-flex;
    margin-left: 0.5rem;
  }
  .header__buttons .header-btn:hover {
    color: #51656c;
  }
  .header__buttons .header-btn:hover img {
    transform: scale(1.1);
  }
  .header__buttons .btn-cart i {
    right: auto;
    left: 15px;
  }
  .header__buttons .btn-cart::after {
    position: absolute;
    right: -1.2rem;
    top: 4px;
    width: 1.5px;
    height: 22px;
    background: #51656c;
    content: "";
  }
}
.main-menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 2rem 1.25rem;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  overflow-y: auto;
  z-index: 9999;
}
.main-menu.active {
  transform: none;
  opacity: 1;
  background: #f5f5f5;
}
.main-menu__inner {
  flex-direction: column;
  padding-bottom: 2rem;
}
.main-menu__parent {
  margin-bottom: 0.75rem;
}
.main-menu__parent ul {
  overflow: hidden;
}
.main-menu__parent span {
  position: relative;
  display: inline-block;
  font-family: "Oswald", Tahoma, Arial, sans-serif;
  font-size: 1.728rem;
  transition: 0.2s linear;
  cursor: pointer;
}
.main-menu__parent span::after {
  position: absolute;
  top: 50%;
  right: -2rem;
  width: 10px;
  height: 10px;
  border-left: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 0.2s linear;
  content: "";
}
.main-menu__parent span:hover {
  color: #51656c;
}
.main-menu__parent span.active {
  color: #BB2532;
}
.main-menu__parent span:hover::after {
  border-color: #51656c;
}
.main-menu__parent.opened span {
  margin-bottom: 1rem;
  color: #51656c;
}
.main-menu__parent.opened span::after {
  border-color: #51656c;
}
.main-menu__parent.opened span::after {
  transform: translate(-50%, 0) rotate(135deg);
}
.main-menu__parent.opened .main-menu__dropdown {
  grid-template-rows: 1fr;
}
.main-menu__dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease;
}
.main-menu__dropdown a {
  font-size: 1.44rem;
}

@media (min-width: 1024px) {
  .main-menu {
    position: relative;
    top: 0;
    height: 30px;
    margin-top: 1rem;
    padding: 0;
    transform: translateX(0);
    overflow-y: unset;
    opacity: 1;
  }
  .main-menu::-webkit-scrollbar {
    display: none;
  }
  .main-menu__inner {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3rem;
    padding: 0;
  }
  .main-menu__parent {
    position: relative;
    margin-bottom: 0;
  }
  .main-menu__parent span {
    font-family: "Roboto", Tahoma, Arial, sans-serif;
    font-size: 1.2rem;
  }
  .main-menu__parent span::after {
    right: -1.35rem;
    transform: translate(-50%, -80%) rotate(-45deg);
  }
  .main-menu__parent.opened .main-menu__dropdown {
    opacity: 1;
    visibility: visible;
  }
  .main-menu__parent.opened span::after {
    top: 44%;
  }
  .main-menu__dropdown {
    position: absolute;
    top: 80%;
    left: 0;
    display: flex;
    min-width: 230px;
    padding: 1.5rem 1rem;
    background: #fff;
    border: 1px solid #b1b1b1;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(54, 54, 54, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
  }
  .main-menu__dropdown a {
    position: relative;
    font-size: 1.2rem;
  }
  .main-menu__dropdown a::after {
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #000;
    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
    content: "";
  }
  .main-menu__dropdown a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s linear;
}

.btn-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  margin-left: 1.2rem;
  background: transparent;
  border: none;
  padding: 0;
}
.btn-mobile:focus {
  outline: none;
}
.btn-mobile .bar-one,
.btn-mobile .bar-two,
.btn-mobile .bar-three {
  width: 2rem;
  height: 0.2rem;
  background: #000;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
.btn-mobile .bar-one {
  transform: rotate(0);
}
.btn-mobile .bar-two {
  opacity: 1;
  transform: translateX(0);
}
.btn-mobile .bar-three {
  transform: rotate(0);
}
.btn-mobile.opened .bar-one {
  transform: rotate(45deg);
}
.btn-mobile.opened .bar-two {
  opacity: 0;
  transform: translateX(20px);
}
.btn-mobile.opened .bar-three {
  transform: rotate(-45deg);
}

.btn-black {
  background: #000;
  border: 1px solid transparent;
  color: #fff;
}
.btn-black:hover {
  background: #fff;
  border-color: #000;
  color: #000;
}

.btn-black__empty {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}
.btn-black__empty:hover {
  background: #000;
  color: #fff;
}

.btn-red {
  background: #BB2532;
  border: 1px solid transparent;
  color: #fff;
}
.btn-red:hover {
  background: #fff;
  border-color: #BB2532;
  color: #BB2532;
}

.btn-red__empty {
  background: #fff;
  border: 1px solid #BB2532;
  color: #BB2532;
}
.btn-red__empty:hover {
  background: #BB2532;
  color: #fff;
}

@media (min-width: 1024px) {
  .btn {
    padding: 0.5rem 1.5rem;
  }
  .btn-mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .btn {
    padding: 0.5rem 2rem;
  }
}
.swiper .swiper-pagination {
  position: absolute;
  bottom: 2rem;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15px;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  display: inline-flex;
  width: 24px;
  height: 6px;
  margin: 0 0.5rem;
  background: #fff;
  border-radius: 5px;
  transition: 0.2s linear;
  cursor: pointer;
}
.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
  height: 8px;
  background: #BB2532;
}
.swiper .swiper-pagination.circle .swiper-pagination-bullet {
  display: inline-flex;
  width: 12px;
  height: 12px;
  background: #b1b1b1;
  border-radius: 50%;
}
.swiper .swiper-pagination.circle .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background: #BB2532;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(54, 54, 54, 0.2);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper .swiper-button-prev[aria-disabled=true], .swiper .swiper-button-next[aria-disabled=true] {
  opacity: 0.5;
}
.swiper .swiper-button-prev {
  background-image: url("../images/ic-arrow-left.svg");
}
.swiper .swiper-button-next {
  background-image: url("../images/ic-arrow-right.svg");
}

@media (min-width: 480px) {
  .swiper .swiper-button-prev {
    display: flex;
    left: 1rem;
  }
  .swiper .swiper-button-next {
    display: flex;
    right: 1rem;
  }
}
@media (min-width: 1024px) {
  .swiper .swiper-pagination-bullet:hover {
    background: #f5f5f5;
  }
  .swiper .swiper-button-prev, .swiper .swiper-button-next {
    width: 50px;
    height: 50px;
    transition: 0.2s linear;
  }
  .swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover {
    background-position: 3px 0;
    background-color: #f5f5f5;
  }
  .swiper .swiper-button-prev[aria-disabled=true]:hover, .swiper .swiper-button-next[aria-disabled=true]:hover {
    background-position: 0 0;
  }
  .swiper .swiper-button-prev {
    left: 2rem;
  }
  .swiper .swiper-button-prev:hover {
    background-position: -3px 0;
  }
  .swiper .swiper-button-prev[aria-disabled=true]:hover {
    background-position: 0 0;
  }
  .swiper .swiper-button-next {
    right: 2rem;
  }
}
@media (min-width: 1200px) {
  .swiper-pagination {
    bottom: 3rem;
  }
}
.top-slider {
  height: 300px;
  margin-top: 50px;
}
.top-slider .swiper-wrapper, .top-slider .swiper-slide {
  height: 100%;
}
.top-slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 420px) {
  .top-slider {
    height: 400px;
  }
}
@media (min-width: 640px) {
  .top-slider {
    height: 300px;
  }
}
@media (min-width: 1024px) {
  .top-slider {
    height: 510px;
    margin-top: 122px;
  }
  .top-slider.swiper-css-mode > .swiper-wrapper > .swiper-slide {
    overflow: hidden;
  }
}
@media (min-width: 1300px) {
  .top-slider img {
    -o-object-position: 5%;
       object-position: 5%;
  }
}
.howto-block {
  margin-bottom: 3.5rem;
}

.howto-list {
  align-items: stretch;
}
.howto-list .howto-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 15px;
}
.howto-list .howto-item:last-child {
  margin-bottom: 0;
}
.howto-list .howto-item .pic {
  width: 100%;
  height: 200px;
}
.howto-list .howto-item .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.howto-list .howto-item .inner {
  border: 1px solid #b1b1b1;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 1rem 1rem;
}
.howto-list .howto-item .inner .title {
  margin-bottom: 0.5rem;
  padding-top: 0.75rem;
  font-size: 1.44rem;
}
.howto-list .howto-item .inner .text {
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .howto-list {
    justify-content: space-between;
  }
  .howto-list .howto-item {
    width: 48%;
    margin-bottom: 0;
  }
  .howto-list .howto-item .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  .howto-list .howto-item .text {
    display: inline-flex;
    flex: 1;
  }
}
@media (min-width: 1200px) {
  .howto-block {
    margin-bottom: 4.5rem;
  }
  .howto-list .howto-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    height: 320px;
    padding: 1.2rem 0;
  }
  .howto-list .howto-item .pic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
  .howto-list .howto-item .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
  }
  .howto-list .howto-item .inner {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-right: 1rem;
    padding: 1.2rem 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
  }
  .howto-list .howto-item .inner .title {
    padding-top: 0;
  }
}
.packs-list .swiper {
  padding-bottom: 40px;
}
.packs-list .swiper .swiper-pagination {
  bottom: 0.5rem;
}

.pack-item {
  width: 100%;
  height: 100%;
  margin-bottom: 0.75rem;
  padding: 1.2rem 1rem;
  background: #f5f5f5;
  border: 1px solid #b1b1b1;
  border-radius: 15px;
}
.pack-item__title {
  margin-bottom: 0;
  font-size: 1.728rem;
  text-align: center;
}
.pack-item__offer {
  margin-bottom: 1.5rem;
  font-family: "Oswald", Tahoma, Arial, sans-serif;
  font-size: 2.074rem;
  font-weight: 600;
  text-align: center;
}
.pack-item__specs {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}
.pack-item__specs li {
  min-height: 40px;
  margin-bottom: 0.75rem;
  padding-left: 50px;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 30px;
  background-position: 0 0;
}
.pack-item__specs .calls {
  background-image: url("../images/ic-phone-new.svg");
  background-position: 5px 0;
}
.pack-item__specs .sms {
  background-image: url("../images/ic-sms-new.svg");
  background-position: 10px 0;
}
.pack-item__specs .mms {
  background-image: url("../images/ic-mms-new.svg");
  background-position: 5px 0;
}
.pack-item__specs .net4g {
  background-image: url("../images/ic-4g-new.svg");
  background-size: 40px;
}
.pack-item__specs .net5g {
  background-image: url("../images/ic-5g-new.svg");
  background-size: 40px;
}
.pack-item__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.pack-item__price .num {
  font-family: "Oswald", Tahoma, Arial, sans-serif;
  font-size: 2.986rem;
  color: #BB2532;
}
.pack-item__price .more {
  position: relative;
  top: 10px;
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}
.pack-item__price .more span {
  font-family: "Oswald", Tahoma, Arial, sans-serif;
  font-size: 1.44rem;
  color: #BB2532;
}
.pack-item__price .more i {
  position: relative;
  top: -5px;
  font-size: 0.875rem;
}
.pack-item__price .note {
  width: 100%;
  margin-top: -10px;
  font-size: 0.875rem;
  font-style: italic;
  text-align: center;
}
.pack-item__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 360px) {
  .pack-item {
    padding: 1.2rem 1.5rem;
  }
}
@media (min-width: 1024px) {
  .packs-list .swiper {
    padding-bottom: 0;
  }
  .packs-list .swiper-pagination {
    display: none;
  }
  .pack-item {
    margin-bottom: 0;
    padding: 1.2rem 1rem;
  }
}
@media (min-width: 1200px) {
  .pack-item {
    margin-bottom: 0;
    padding: 1.2rem 1.65rem;
  }
}
.advants-list {
  justify-content: space-between;
  gap: 2rem;
}
.advants-list .advants-item {
  background: #f5f5f5;
  border-radius: 15px;
  transition: 0.2s linear;
  cursor: default;
}
.advants-list .advants-item .inner {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  border: 1px solid #b1b1b1;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.advants-list .advants-item .pic {
  height: 200px;
  overflow: hidden;
  transition: 0.2s linear;
}
.advants-list .advants-item .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.advants-list .advants-item .text {
  margin-bottom: 0.75rem;
  padding: 0 1rem;
}
.advants-list .advants-item .btn {
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .advants-list {
    gap: 1rem;
  }
  .advants-list .advants-item {
    display: inline-flex;
    flex-direction: column;
    width: 48%;
  }
  .advants-list .advants-item .inner {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
  }
  .advants-list .advants-item .text {
    flex: 1;
  }
  .advants-list .advants-item .btn {
    max-width: 70%;
  }
}
@media (min-width: 1024px) {
  .advants-list .advants-item {
    filter: grayscale(0.6);
  }
  .advants-list .advants-item:hover {
    filter: grayscale(0);
  }
}
@media (min-width: 1280px) {
  .advants-list .advants-item {
    width: 24%;
  }
  .advants-list .advants-item .pic {
    height: 230px;
  }
  .advants-list .advants-item .btn {
    max-width: 80%;
  }
}
.faq-list .faq-item {
  margin-bottom: 0.75rem;
  border: 1px solid #b1b1b1;
  border-radius: 15px;
}
.faq-list .faq-item__title {
  position: relative;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s linear;
}
.faq-list .faq-item__title::after {
  position: absolute;
  top: 50%;
  right: 1rem;
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 3px;
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.2s linear;
  content: "";
}
.faq-list .faq-item__title:hover {
  background: #f5f5f5;
}
.faq-list .faq-item__text {
  max-height: 0;
  padding: 0 1rem;
  color: #51656c;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.faq-list .faq-item.active .faq-item__title:hover {
  background: none;
}
.faq-list .faq-item.active .faq-item__title::after {
  transform: translateY(-50%) rotate(135deg);
}
.faq-list .faq-item.active .faq-item__text {
  max-height: 500px;
  padding: 0.5rem 1rem 1rem;
}

@media (min-width: 480px) {
  .faq-list .faq-item__title {
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 1200px) {
  .faq-list .faq-item {
    margin-bottom: 1rem;
  }
  .faq-list .faq-item__title {
    font-size: 1.44rem;
  }
  .faq-list .faq-item__text {
    font-size: 1.2rem;
  }
}
.section-nav__list {
  padding: 0 1rem 3rem;
}
.section-nav__list .swiper-slide {
  height: auto;
}
.section-nav__list .swiper-pagination {
  bottom: 1rem;
  left: 0;
}
.section-nav__list .swiper-pagination-lock {
  position: relative;
  margin-bottom: -3rem;
  visibility: hidden;
}

.section-nav__item {
  width: 100%;
  height: 100%;
  text-align: center;
}
.section-nav__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 1rem 2rem;
  background: #f5f5f5;
  border-radius: 15px;
  border: 1px solid transparent;
}
.section-nav__item a:hover {
  background: #f0eeee;
  border-color: #b1b1b1;
}
.section-nav__item a.active {
  border-color: #b1b1b1;
}
.section-nav__item a img {
  display: inline-flex;
  width: auto;
  height: 100px;
  margin-bottom: 0.75rem;
}
.section-nav__item a span {
  font-size: 1.44rem;
  font-weight: bold;
  line-height: normal;
}

@media (min-width: 550px) {
  .section-nav__item {
    text-align: left;
  }
  .section-nav__item a {
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
  }
  .section-nav__item a img {
    height: 40px;
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
@media (min-width: 1024px) {
  .section-nav .swiper-wrapper {
    justify-content: center;
  }
  .section-nav__item a {
    padding: 2rem 1.5rem;
  }
  .section-nav__item a span {
    font-size: 1.2rem;
  }
}
.filter-top {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #b1b1b1;
}
.filter-top.fixed {
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
  padding-top: 1rem;
  background: #fff;
}
.filter-top .cont {
  justify-content: space-between;
}
.filter-top .left {
  align-items: center;
}
.filter-top h4 {
  position: relative;
  display: inline-flex;
  height: 40px;
  margin-bottom: 0;
  padding: 0.5rem 1rem 0.5rem 3rem;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 1.2rem;
  align-items: center;
}
.filter-top h4::before {
  position: absolute;
  left: 1rem;
  top: 50%;
  width: 24px;
  height: 24px;
  background-image: url("../images/ic-sliders.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  transform: translateY(-50%);
}
.filter-top .result {
  display: none;
}
.filter-top .result span {
  margin-right: 0.3rem;
  font-weight: bold;
}
.filter-top .right {
  position: relative;
  align-items: center;
  justify-content: end;
}
.filter-top .right .sort-title {
  margin-right: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
}
.filter-top .right .sort-active {
  position: relative;
  padding-right: 1.5rem;
  font-size: 0.75rem;
  cursor: pointer;
}
.filter-top .right .sort-active::after {
  position: absolute;
  top: 38%;
  right: 0;
  width: 10px;
  height: 10px;
  border-left: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.2s linear;
  content: "";
}
.filter-top .right .sort-active.open::after {
  top: 60%;
  transform: translateY(-50%) rotate(135deg);
}
.filter-top .right .sort-list {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  background: #f5f5f5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.filter-top .right .sort-list .sort-close {
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  width: 30px;
  height: 30px;
  transition: 0.2s linear;
}
.filter-top .right .sort-list .sort-close:hover {
  transform: scale(1.1);
}
.filter-top .right .sort-list .sort-close img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.filter-top .right .sort-list .sort-head {
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid #b1b1b1;
  font-size: 1.44rem;
}
.filter-top .right .sort-list .sort-head__title {
  margin-right: 1rem;
  font-weight: bold;
}
.filter-top .right .sort-list .sort-head__active {
  color: #51656c;
}
.filter-top .right .sort-list .sort-btn__mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
  border-top: 1px solid #b1b1b1;
}
.filter-top .right .sort-list .sort-btn__mobile button {
  min-width: 150px;
}
.filter-top .right .sort-list .sort-list-inner {
  padding: 2rem;
}
.filter-top .right .sort-list.open {
  transform: translateY(0);
}
.filter-top .right .sort-list li {
  margin-bottom: 1rem;
}
.filter-top .right .sort-list button {
  position: relative;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-size: 1.44rem;
}
.filter-top .right .sort-list button::after {
  position: absolute;
  top: 40%;
  right: -1.5rem;
  width: 16px;
  height: 10px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.2s linear;
  transform: translateY(-50%) rotate(-45deg);
  content: "";
  opacity: 0;
}
.filter-top .right .sort-list button[aria-selected=true] {
  font-weight: bold;
  color: #BB2532;
}
.filter-top .right .sort-list button[aria-selected=true]::after {
  opacity: 1;
  border-color: #BB2532;
}

@media (min-width: 360px) {
  .filter-top .right .sort-title, .filter-top .right .sort-active {
    font-size: 1rem;
  }
  .filter-top .right .sort-list .sort-head {
    flex-direction: row;
  }
}
@media (min-width: 420px) {
  .filter-top .right .sort-list .sort-head {
    padding: 1.5rem 2rem;
    font-size: 1.728rem;
  }
  .filter-top .right .sort-list .sort-close {
    top: 2rem;
    right: 2rem;
  }
}
@media (min-width: 550px) {
  .filter-top h4 {
    margin-right: 1.6rem;
  }
  .filter-top h4::after {
    position: absolute;
    top: 50%;
    right: -1rem;
    width: 1px;
    height: 20px;
    background: #b1b1b1;
    transform: translateY(-50%);
    content: "";
  }
  .filter-top .result {
    position: relative;
    top: 2px;
    display: inline-flex;
  }
  .filter-top .right .sort-list {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: auto;
    padding: 0;
    background: #f5f5f5;
    border-radius: 15px;
    width: 200px;
    max-height: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: none;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  .filter-top .right .sort-list .sort-close, .filter-top .right .sort-list .sort-head, .filter-top .right .sort-list .sort-btn__mobile {
    display: none;
  }
  .filter-top .right .sort-list.open {
    max-height: 300px;
    border: 1px solid #b1b1b1;
    transform: none;
  }
  .filter-top .right .sort-list .sort-list-inner {
    padding: 1.5rem;
  }
  .filter-top .right .sort-list li {
    margin-bottom: 0.5rem;
  }
  .filter-top .right .sort-list button {
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    transition: 0.2s linear;
  }
  .filter-top .right .sort-list button::after {
    right: 0;
    width: 10px;
    height: 8px;
    border-width: 1px;
  }
  .filter-top .right .sort-list button:hover::after {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .filter-top {
    margin-bottom: 2rem;
  }
  .filter-top h4 {
    margin-bottom: 0;
    margin-right: 1rem;
    padding: 0;
    padding-right: 1rem;
    border: none;
    font-size: 1.44rem;
  }
  .filter-top h4::before {
    display: none;
  }
  .filter-top h4::after {
    right: 0;
  }
}
.section-filter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.section-filter__inner {
  background: #f5f5f5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.section-filter .filter-close {
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  width: 30px;
  height: 30px;
  transition: 0.2s linear;
}
.section-filter .filter-close:hover {
  transform: scale(1.2);
}
.section-filter .filter-close img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-filter .filter-head {
  width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid #b1b1b1;
  font-size: 1.44rem;
}
.section-filter .filter-head__title {
  position: relative;
  margin-bottom: 0;
  margin-right: 1rem;
  padding: 0;
  padding-right: 1rem;
  border: none;
  font-size: 1.44rem;
  font-weight: bold;
}
.section-filter .filter-head__title::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 20px;
  background: #b1b1b1;
  transform: translateY(-50%);
  content: "";
}
.section-filter .filter-head__result span {
  margin-right: 0.3rem;
  font-weight: bold;
}
.section-filter .filter-inner {
  height: 60vh;
  overflow-y: scroll;
  padding: 2rem;
}
.section-filter .filter-inner .filter-block {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #b1b1b1;
}
.section-filter .filter-inner .filter-block:last-child {
  border: none;
}
.section-filter .filter-inner .filter-block .hidden {
  display: none;
}
.section-filter .filter-inner .filter-block .filter-block__inner.expanded .hidden {
  display: block;
}
.section-filter .filter-inner .filter-block label {
  font-size: 1.44rem;
}
.section-filter .filter-inner .filter-block label input {
  display: none;
}
.section-filter .filter-inner .filter-block label span {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  transition: 0.2s linear;
}
.section-filter .filter-inner .filter-block label span::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  transform: translateY(-50%);
  transition: 0.2s linear;
  content: "";
}
.section-filter .filter-inner .filter-block label span:hover {
  color: #51656c;
}
.section-filter .filter-inner .filter-block label span:hover::before {
  border-color: #000;
}
.section-filter .filter-inner .filter-block label input:checked + span::before {
  background: #000;
  border-color: #000;
}
.section-filter .filter-inner .filter-block label input:checked + span::after {
  position: absolute;
  top: 3px;
  left: 4px;
  display: block;
  width: 12px;
  height: 8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  transition: 0.2s linear;
  content: "";
}
.section-filter .filter-inner .filter-block label input:checked + span::after {
  top: 7px;
}
.section-filter .filter-inner .filter-block .filter-more {
  border-bottom: 1px solid #000;
}
.section-filter .filter-inner .filter-block h4 {
  position: relative;
  cursor: pointer;
  transition: 0.2s linear;
}
.section-filter .filter-inner .filter-block h4 span {
  position: relative;
}
.section-filter .filter-inner .filter-block h4 span::after {
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #000;
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
  content: "";
}
.section-filter .filter-inner .filter-block h4 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.section-filter .filter-inner .filter-block h4 span:hover {
  transform: none;
}
.section-filter .filter-inner .filter-block h4:hover span::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.section-filter .filter-inner .filter-block [aria-active=false]::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  display: block;
  width: 12px;
  height: 12px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 3px;
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.2s linear;
  content: "";
}
.section-filter .filter-inner .filter-block [aria-active=true]::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  display: block;
  width: 12px;
  height: 12px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 3px;
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.2s linear;
  content: "";
  top: 64%;
  transform: translateY(-50%) rotate(135deg);
}
.section-filter .filter-inner .filter-block__inner {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.section-filter .filter-inner .filter-block__inner[aria-hidden=true] {
  max-height: 0;
}
.section-filter .filter-inner .filter-block__inner[aria-hidden=false] {
  max-height: 300px;
}
.section-filter .filter-btn__mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
  border-top: 1px solid #b1b1b1;
}
.section-filter .filter-btn__mobile button {
  min-width: 150px;
  font-size: 1.44rem;
}
.section-filter.open {
  transform: translateY(0);
}

@media (min-width: 420px) {
  .section-filter .filter-head {
    padding: 1.5rem 2rem;
  }
  .section-filter .filter-close {
    right: 2rem;
  }
}
@media (min-width: 768px) {
  .section-filter {
    position: relative;
    bottom: auto;
    left: auto;
    z-index: auto;
    width: 100%;
    max-width: 270px;
    height: 100%;
    transform: none;
  }
  .section-filter__inner {
    background: #f5f5f5;
    border: 1px solid #b1b1b1;
    border-radius: 15px;
  }
  .section-filter .fixed {
    position: fixed;
    top: 60px;
    z-index: 9999;
    width: 100%;
    max-width: 215px;
  }
  .section-filter .absolute {
    position: absolute;
    width: 100%;
    max-width: 215px;
  }
  .section-filter .filter-close, .section-filter .filter-head, .section-filter .filter-btn__mobile {
    display: none;
  }
  .section-filter .filter-inner {
    height: 100%;
    padding: 1.2rem;
    overflow-y: auto;
  }
  .section-filter .filter-inner .filter-block {
    margin-bottom: 1.2rem;
    padding-bottom: 1rem;
  }
  .section-filter .filter-inner .filter-block:last-child {
    padding-bottom: 0;
  }
  .section-filter .filter-inner .filter-block h4 {
    font-size: 1.44rem;
  }
  .section-filter .filter-inner .filter-block label {
    font-size: 1rem;
  }
  .section-filter .filter-inner .filter-block label input:checked + span::before {
    top: 53%;
  }
  .section-filter .filter-inner .filter-block label input:checked + span::after {
    top: 4px;
  }
  .section-filter .filter-inner .filter-block .filter-more {
    margin-top: 1rem;
    transition: 0.2s linear;
  }
  .section-filter .filter-inner .filter-block .filter-more:hover {
    color: #BB2532;
    border-color: #BB2532;
  }
}
@media (min-width: 800px) {
  .section-filter .fixed, .section-filter .absolute {
    max-width: 270px;
  }
}
@media (min-width: 1024px) {
  .section-filter {
    max-width: 220px;
  }
  .section-filter .filter-block .filter-more {
    font-size: 1rem;
  }
  .section-filter .fixed, .section-filter .absolute {
    max-width: 218px;
  }
}
@media (min-width: 1200px) {
  .section-filter {
    max-width: 270px;
  }
  .section-filter .filter-inner .filter-block h4 {
    margin-bottom: 0.5rem;
    font-size: 1.44rem;
  }
  .section-filter .filter-inner .filter-block label {
    font-size: 1.2rem;
  }
  .section-filter .filter-inner .filter-block label input:checked + span::after {
    top: 8px;
  }
  .section-filter .fixed, .section-filter .absolute {
    max-width: 270px;
  }
}
.section-inner .cont {
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: nowrap;
}

.section-products {
  width: 100%;
}
.section-products__inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 550px) {
  .section-products__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .section-products__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .section-products__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1320px) {
  .section-products__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
.compare-modal {
  position: fixed;
  bottom: 0;
  z-index: 100000;
  width: 100%;
  padding: 3rem 1rem 1rem;
  background: #f5f5f5;
  border-top: 1px solid #b1b1b1;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.compare-modal.open {
  transform: translateY(0);
}
.compare-modal .close-compare {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 30px;
  height: 30px;
  transition: 0.2s linear;
  cursor: pointer;
}
.compare-modal .close-compare img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.compare-modal .close-compare:hover {
  transform: scale(1.2);
}
.compare-modal .note {
  margin-top: 1rem;
  text-align: center;
}
.compare-modal .compare-inner {
  flex-direction: column;
}
.compare-modal .compare-inner .compare-buttons {
  width: 100%;
  justify-content: center;
}
.compare-modal .compare-inner .compare-buttons .btn {
  margin: 0 0.5rem;
}
.compare-modal .compare-inner .compare-buttons .btn:disabled {
  background: #f0eeee;
  border: 1px solid #b1b1b1;
  color: #000;
}
.compare-modal .compare-inner .compare-list {
  margin-bottom: 1.5rem;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1rem;
}
.compare-modal .compare-inner .compare-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex: 1;
  min-height: 76px;
  max-height: 120px;
  padding: 1rem 0.5rem;
  background: #fff;
  border: 1px solid #b1b1b1;
  border-radius: 15px;
}
.compare-modal .compare-inner .compare-item .inner {
  flex-direction: column;
}
.compare-modal .compare-inner .compare-item .pic {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.compare-modal .compare-inner .compare-item .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.compare-modal .compare-inner .compare-item .brand {
  font-size: 0.875rem;
  color: #51656c;
}
.compare-modal .compare-inner .compare-item .name {
  font-weight: bold;
}
.compare-modal .compare-inner .compare-item .compare-remove {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 20px;
  height: 20px;
  background-image: url("../images/ic-x-circle.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s linear;
  cursor: pointer;
}
.compare-modal .compare-inner .compare-item .compare-remove:hover {
  transform: scale(1.1);
}
.compare-modal .compare-inner .compare-item.empty {
  border: 1px dashed #51656c;
  background: transparent;
}
.compare-modal.empty .compare-buttons {
  display: none;
}
.compare-modal.empty .note {
  display: block;
  text-align: center;
  font-size: 1.44rem;
}

@media (min-width: 480px) {
  .compare-modal .compare-inner .compare-item {
    width: 50%;
    flex: auto;
    padding: 0 1rem;
  }
  .compare-modal .compare-inner .compare-item .inner {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .compare-modal .compare-inner .compare-item .pic {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .compare-modal {
    padding: 4rem 1rem 2rem;
  }
  .compare-modal .note {
    margin-top: 2rem;
  }
  .compare-modal .close-compare {
    top: 1rem;
  }
  .compare-modal .compare-inner .compare-buttons .btn {
    padding: 0.8rem 2rem;
    font-size: 1.44rem;
  }
  .compare-modal .compare-inner .compare-item {
    max-height: none;
    padding: 1rem;
  }
  .compare-modal .compare-inner .compare-item .pic {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  .compare-modal .compare-inner .compare-item {
    width: 33%;
    flex: auto;
  }
}
@media (min-width: 1200px) {
  .compare-modal .compare-inner .compare-item .brand {
    font-size: 1rem;
  }
  .compare-modal .compare-inner .compare-item .name {
    font-size: 1.44rem;
  }
}
.recommend-list {
  max-width: 1600px;
  margin: 4rem auto 3rem;
  padding: 0 2rem;
}
.recommend-list .recommend-slider, .recommend-list .swiper-wrapper {
  width: 100%;
}

.products-slider .subtitle {
  position: absolute;
  top: -1rem;
}
.products-slider .swiper-wrapper {
  padding-bottom: 4rem;
}
.products-slider .swiper .swiper-pagination {
  bottom: 1rem;
}
.products-slider .swiper .swiper-button-prev, .products-slider .swiper .swiper-button-next {
  top: auto;
  bottom: 0.5rem;
  right: 2px;
  transform: none;
  width: 40px;
  height: 40px;
}
.products-slider .swiper .swiper-button-prev {
  left: auto;
  right: 3.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #b1b1b1;
  border-radius: 15px;
  transition: 0.2s linear;
}
.product-card.in-compare {
  border-color: #000;
}
.product-card .colors {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  flex-direction: column;
}
.product-card .colors span {
  position: relative;
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-bottom: 0.5rem;
  border-radius: 15px;
}
.product-card .colors span.na {
  opacity: 0.8;
}
.product-card .colors span.na::before {
  position: absolute;
  top: -3px;
  left: 9px;
  width: 1px;
  height: 26px;
  background: #000;
  transform: rotate(45deg);
  content: "";
}
.product-card .badges {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.product-card .badges .badge {
  position: absolute;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  font-size: 0.75rem;
}
.product-card .badges .badge.new {
  bottom: -40px;
  right: 1rem;
  background: #BB2532;
  color: #fff;
}
.product-card .badges .badge.offer {
  top: 1rem;
  right: 1rem;
  background: #51656c;
  color: #fff;
}
.product-card .pic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 240px;
  margin-bottom: 1rem;
  padding: 2rem 0;
  background: #f5f5f5;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  transition: 0.2s linear;
}
.product-card .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.2s linear;
}
.product-card .pic .icon {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 40px;
  height: 40px;
  border: 1px solid #BB2532;
  border-radius: 50%;
  background-image: url("../images/ic-5g-new.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 80%;
}
.product-card .name {
  display: inline-block;
  border-bottom: 1px solid transparent;
  font-size: 1.44rem;
  font-weight: bold;
  transition: 0.2s linear;
}
.product-card .name span {
  position: relative;
}
.product-card .name span::after {
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #BB2532;
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
  content: "";
}
.product-card .brand, .product-card .name {
  margin: 0 1.2rem;
}
.product-card .inner {
  position: relative;
  padding: 1rem 1.2rem 1.8rem;
}
.product-card .inner .props {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1.5rem;
}
.product-card .inner .props label {
  cursor: pointer;
}
.product-card .inner .props label span {
  display: inline-flex;
  padding: 0.3rem 0.8rem;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: "Oswald", Tahoma, Arial, sans-serif;
  transition: 0.2s linear;
}
.product-card .inner .props label input {
  display: none;
}
.product-card .inner .props label input:checked + span {
  border-color: #BB2532;
}
.product-card .inner .props label:hover span {
  background-color: #f0eeee;
}
.product-card .inner .props label:hover input:checked + span {
  background-color: #fff;
}
.product-card .inner .price {
  margin-bottom: 1.5rem;
}
.product-card .inner .price span {
  display: inline-flex;
  font-family: "Oswald", Tahoma, Arial, sans-serif;
  font-size: 1.728rem;
  font-weight: bold;
}
.product-card .inner .price .price-old {
  margin-left: 1rem;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #51656c;
  text-decoration: line-through;
}
.product-card .inner .compare {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border-top: 1px solid #f0eeee;
}
.product-card .inner .compare input {
  display: none;
}
.product-card .inner .compare span {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  transition: 0.2s linear;
}
.product-card .inner .compare span::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  transform: translateY(-50%);
  transition: 0.2s linear;
  content: "";
}
.product-card .inner .compare span:hover {
  color: #51656c;
}
.product-card .inner .compare span:hover::before {
  border-color: #000;
}
.product-card .inner .compare input:checked + span::before {
  background: #000;
  border-color: #000;
}
.product-card .inner .compare input:checked + span::after {
  position: absolute;
  top: 3px;
  left: 4px;
  display: block;
  width: 12px;
  height: 8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  transition: 0.2s linear;
  content: "";
}
.product-card .inner .compare input:disabled + span {
  opacity: 0.6;
}
.product-card .inner .compare input:disabled + span::before {
  opacity: 0.6;
}
.product-card .inner .compare label:hover input:disabled + span::before {
  border-color: #b1b1b1;
}
.product-card .promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background: rgba(187, 37, 50, 0.7);
  color: #fff;
}
.product-card .promo .hidden {
  display: none;
}
.product-card .promo .bold {
  font-weight: bold;
}

@media (min-width: 550px) {
  .product-card .promo {
    height: 60px;
  }
  .product-card .promo p {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  .product-card .brand, .product-card .name {
    margin: 0 1rem;
  }
  .product-card .inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .product-card .badges .badge {
    font-size: 1rem;
  }
  .product-card .badges .badge.new {
    bottom: -50px;
  }
  .product-card a:hover .pic {
    background: #f0eeee;
  }
  .product-card a:hover .pic img {
    transform: scale(1.1);
  }
  .product-card a:hover .name {
    color: #BB2532;
  }
  .product-card a:hover .name span::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
@media (min-width: 1320px) {
  .product-card .promo p {
    font-size: 1rem;
  }
}
footer {
  margin-top: 4rem;
  background: #000;
}

.footer-inner {
  padding: 2rem 0;
}
.footer-inner .footer-menu {
  width: 100%;
  margin-bottom: 1rem;
}
.footer-inner .footer-menu h4 {
  display: inline-block;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.footer-inner .footer-menu a {
  color: #fff;
}

.footer-bot {
  padding-bottom: 2rem;
}
.footer-bot .footer-logo {
  display: inline-flex;
  width: 120px;
  margin-bottom: 0.75rem;
}
.footer-bot .footer-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-bot .socials {
  align-items: center;
  justify-content: start;
  color: #fff;
}
.footer-bot .socials__label {
  margin-right: 0.5rem;
}
.footer-bot .socials__list li {
  display: inline-flex;
  margin: 0 0.5rem;
}
.footer-bot .socials__list li a {
  display: inline-flex;
}
.footer-bot .socials svg {
  fill: #fff;
  transition: 0.2s linear;
}
.footer-bot .socials .copyright {
  width: 100%;
  margin-top: 0.75rem;
}

@media (min-width: 480px) {
  .footer-inner {
    justify-content: space-between;
  }
  .footer-inner .footer-menu {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .footer-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-bot .footer-logo {
    width: 220px;
    margin-bottom: 0;
  }
  .footer-bot .socials .copyright {
    width: auto;
    margin-top: 0;
    margin-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .footer-inner .footer-menu {
    width: 24%;
  }
  .footer-inner .footer-menu a {
    position: relative;
  }
  .footer-inner .footer-menu a::after {
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #000;
    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
    content: "";
  }
  .footer-inner .footer-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .footer-inner .footer-menu a::after {
    height: 1px;
    background-color: #fff;
  }
}
@media (min-width: 1024px) {
  .socials svg:hover {
    transform: scale(1.2);
  }
}
.page-nav {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.page-nav .prev, .page-nav .next {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40px;
  height: 40px;
  border: 1px solid #b1b1b1;
  border-radius: 50%;
  background-image: url("../images/ic-arrow-left.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 80%;
}
.page-nav .prev:hover, .page-nav .next:hover {
  background-position: 2px center;
  background-color: #f0eeee;
}
.page-nav .next {
  transform: rotate(180deg);
}
.page-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0.5rem;
}
.page-nav ul li {
  margin: 0 0.3rem 0.3rem;
}
.page-nav ul a, .page-nav ul span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.page-nav ul a {
  width: 40px;
  height: 40px;
  border: 1px solid #b1b1b1;
  border-radius: 50%;
}
.page-nav ul a.current {
  background: #000;
  border-color: #000;
  color: #fff;
}
.page-nav ul span {
  padding-top: 0.3rem;
}

@media (min-width: 768px) {
  .page-nav ul {
    margin: 0 1rem;
  }
}
@media (min-width: 1024px) {
  .page-nav ul li a:hover {
    border-color: #BB2532;
    color: #BB2532;
  }
  .page-nav ul li a.current:hover {
    background: #000;
    border-color: #000;
    color: #fff;
  }
}
.bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: display 0.4s ease-in-out;
}
.bg-modal.show {
  display: block;
}

.modal {
  position: fixed;
  left: 50%;
  bottom: -100%;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  width: 98%;
  min-height: 200px;
  padding: 2.5rem 1rem 2rem;
  background: #fff;
  border: 1px solid #b1b1b1;
  border-radius: 15px;
  transform: translate(-50%, 50%);
  transition: bottom 0.4s ease-in-out;
}
.modal.show {
  bottom: 50%;
}
.modal .modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  background-image: url("../images/ic-close.svg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: 0.2s linear;
}
.modal .modal-close:hover {
  transform: scale(1.2) rotate(180deg);
}
.modal .modal-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.offer-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}
.offer-item:last-child {
  background: #f5f5f5;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.offer-item .pic {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}
.offer-item .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.offer-item .pic img.second {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 34px;
  right: 26px;
  z-index: 99;
}

@media (min-width: 768px) {
  .offer-item {
    width: 48%;
  }
  .offer-item:last-child {
    background: #f5f5f5;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@media (min-width: 1024px) {
  .modal {
    max-width: 1100px;
    min-height: 300px;
  }
  .modal .modal-inner {
    gap: 2rem;
  }
  .offer-item .pic {
    width: 100px;
    height: 100px;
    margin-bottom: 1.5rem;
  }
  .offer-item .pic img.second {
    right: 34px;
  }
}