.order-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: $mb-l;

    .next-step {
        align-self: center;
        width: 100%;
        max-width: 200px;
        margin: $mb-m auto 0;
    }
}

.order-note {
    color: $colorGray;
}

@media (min-width: 480px) {
    .order-buttons {
        flex-wrap: nowrap;
        justify-content: space-between;

        .next-step {
            width: auto;
            min-width: 120px;
            margin: 0;
        }
    }
}
