.advants-list {
    justify-content: space-between;
    gap: $gapL;

    .advants-item {
        padding-bottom: 1rem;
        background: $colorSecond;
        border: 1px solid $colorBorder;
        border-radius: $borderRadiusCommon;
        transition: $transition;
        cursor: default;

        .pic {
            height: 200px;
            margin-bottom: $mb-s;
            overflow: hidden;
            transition: $transition;

            img {
                @include imgFit;
                border-top-left-radius: $borderRadiusCommon;
                border-top-right-radius: $borderRadiusCommon;
            }
        }
        .text {
            margin-bottom: $mb-s;
            padding: 0 1rem;
        }
        .btn {
            margin: 0 1rem;
        }
    }
}

@media (min-width: 768px) {
    .advants-list {
        gap: 1rem;

        .advants-item {
            display: inline-flex;
            flex-direction: column;
            width: 48%;

            .text {
                flex: 1;
            }
            .btn {
                max-width: 50%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .advants-list {
        .advants-item {
            filter: grayscale(0.6);

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

@media (min-width: 1280px) {
    .advants-list {
        .advants-item {
            width: 24%;

            .pic {
                height: 230px;
            }
            .btn {
                max-width: 80%;
            }
        }
    }
}