.home-products {
    .subtitle {
        position: absolute;
        top: -1rem;
    }

    .products-slider {
        padding-bottom: 60px;

        .swiper-pagination {
            bottom: 1rem;
        }
        .swiper-button-prev, .swiper-button-next {
            top: 34%;
        }
    }

    .product-card {
        .pic {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 240px;
            margin-bottom: $mb-m;
            padding: 2rem 0;
            background: $colorSecond;
            border-radius: $borderRadiusCommon;
            transition: $transition;

            img {
                @include imgFit;
                object-fit: contain;
                transition: $transition;
            }
            .icon {
                position: absolute;
                right: 2rem;
                bottom: 2rem;
                width: 30px;
                height: 30px;
                border: 1px solid $colorRed;
                border-radius: $borderRadiusCircle;
                background-image: url("../images/ic-5g-new.svg");
                @include bgImg;
                background-position: center;
                background-size: 80%;
            }
        }
        .name {
            display: inline-block;
            border-bottom: 1px solid transparent;
            font-weight: bold;
            transition: $transition;
        }
    }
}

@media (min-width: 360px) {
    .home-products {
        .product-card {
            .pic .icon {
                width: 50px;
                height: 50px;
            }
        }
    }
}
@media (min-width: 1024px) {
    .home-products {
        .product-card {
            .name, .brand {
                margin-left: 2rem;
            }

            &:hover {
                .pic {
                    background: $colorGrayHover;

                    img {
                        transform: scale(1.1);
                    }
                }
                .name {
                    border-bottom: 1px solid $colorRed;
                    color: $colorRed;
                }
            }
        }
    }
}