.top-slider {
    height: 300px;
    margin-top: 50px;

    .swiper-wrapper, .swiper-slide {
        height: 100%;
    }

    img {
        @include imgFit;
        object-position: center;
    }
}

@media (min-width: 1024px) {
    .top-slider {
        height: 510px;
        margin-top: 120px;
    }
    .top-slider.swiper-css-mode > .swiper-wrapper > .swiper-slide {
        overflow: hidden;
    }
}
@media (min-width: 1300px) {
    .top-slider img {
        object-position: 5%;
    }
}